In [1]:
# Format CSV to create origin-destination route map; requires (2) records/rows per route - (1) for origin, (1) for destination

import pandas as pd

spider_df = pd.read_csv("/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_clean/2017_TUS.csv")
spider_df

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,TUS,ATL,1430,1459.0,29.0,...,0.0,14.0,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,TUS,ATL,600,637.0,37.0,...,0.0,0.0,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,TUS,ATL,1430,1447.0,17.0,...,NaN,NaN,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,TUS,ATL,600,559.0,-1.0,...,NaN,NaN,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,TUS,ATL,1430,1441.0,11.0,...,NaN,NaN,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,TUS,SLC,1227,1217.0,-10.0,...,NaN,NaN,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0
15402,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,TUS,SLC,810,807.0,-3.0,...,NaN,NaN,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0
15403,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,TUS,SLC,1227,1307.0,40.0,...,0.0,21.0,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0
15404,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,TUS,SLC,810,759.0,-11.0,...,NaN,NaN,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0
15405,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,TUS,SLC,1227,1218.0,-9.0,...,NaN,NaN,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0

In [2]:
# create path_id field to id the route
spider_df['path_id'] = spider_df['ORIGIN'] + '_' + spider_df['DEST']
spider_df

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,TUS,ATL,1430,1459.0,29.0,...,14.0,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,TUS,ATL,600,637.0,37.0,...,0.0,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,TUS,ATL,1430,1447.0,17.0,...,NaN,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,TUS,ATL,600,559.0,-1.0,...,NaN,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,TUS,ATL,1430,1441.0,11.0,...,NaN,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,TUS,SLC,1227,1217.0,-10.0,...,NaN,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC
15402,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,TUS,SLC,810,807.0,-3.0,...,NaN,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC
15403,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,TUS,SLC,1227,1307.0,40.0,...,21.0,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC
15404,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,TUS,SLC,810,759.0,-11.0,...,NaN,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC
15405,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,TUS,SLC,1227,1218.0,-9.0,...,NaN,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC

In [8]:
# Build origin df

origin_df = spider_df[['origin_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id origin airport
origin_df['origin_dest'] = 'origin'

# rename key origin columns to be generalized between origin and desintation
origin_df.rename(columns={"origin_city_name":"city_name", "ORIGIN":"airport_code"}, inplace=True)
origin_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"TUCSON, ARIZONA, USA",2017-01-01,DL,2066,TUS,1430,1459.0,29.0,10.0,1509.0,...,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL,origin
1,"TUCSON, ARIZONA, USA",2017-01-02,DL,1127,TUS,600,637.0,37.0,10.0,647.0,...,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL,origin
2,"TUCSON, ARIZONA, USA",2017-01-02,DL,2066,TUS,1430,1447.0,17.0,10.0,1457.0,...,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL,origin
3,"TUCSON, ARIZONA, USA",2017-01-03,DL,1127,TUS,600,559.0,-1.0,29.0,628.0,...,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL,origin
4,"TUCSON, ARIZONA, USA",2017-01-03,DL,2066,TUS,1430,1441.0,11.0,11.0,1452.0,...,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA",2017-12-29,OO,4567,TUS,1227,1217.0,-10.0,16.0,1233.0,...,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC,origin
15402,"TUCSON, ARIZONA, USA",2017-12-30,OO,4539,TUS,810,807.0,-3.0,14.0,821.0,...,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC,origin
15403,"TUCSON, ARIZONA, USA",2017-12-30,OO,4567,TUS,1227,1307.0,40.0,18.0,1325.0,...,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC,origin
15404,"TUCSON, ARIZONA, USA",2017-12-31,OO,4539,TUS,810,759.0,-11.0,16.0,815.0,...,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC,origin
15405,"TUCSON, ARIZONA, USA",2017-12-31,OO,4567,TUS,1227,1218.0,-9.0,12.0,1230.0,...,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC,origin

In [9]:
# Build destination df

destination_df = spider_df[['dest_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id destination airport
destination_df['origin_dest'] = 'dest'

# rename key destination columns to be generalized between origin and desintation
destination_df.rename(columns={"dest_city_name":"city_name", "DEST":"airport_code"}, inplace=True)
destination_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,ATL,1430,1459.0,29.0,10.0,1509.0,...,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL,dest
1,"ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,ATL,600,637.0,37.0,10.0,647.0,...,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL,dest
2,"ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,ATL,1430,1447.0,17.0,10.0,1457.0,...,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL,dest
3,"ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,ATL,600,559.0,-1.0,29.0,628.0,...,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL,dest
4,"ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,ATL,1430,1441.0,11.0,11.0,1452.0,...,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL,dest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,SLC,1227,1217.0,-10.0,16.0,1233.0,...,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC,dest
15402,"SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,SLC,810,807.0,-3.0,14.0,821.0,...,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC,dest
15403,"SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,SLC,1227,1307.0,40.0,18.0,1325.0,...,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC,dest
15404,"SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,SLC,810,759.0,-11.0,16.0,815.0,...,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC,dest
15405,"SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,SLC,1227,1218.0,-9.0,12.0,1230.0,...,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC,dest

In [10]:
# Combine origin and destination dfs, sort by multiple values to match origin-destination records

frames = [origin_df, destination_df]

spider_map_df = pd.concat(frames, sort=False)
spider_map_df.sort_values(["FL_DATE", "DEP_TIME", "ARR_TIME_HM"], ascending=[True, True, True], inplace=True)
spider_map_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
4947,"TUCSON, ARIZONA, USA",2017-01-01,OO,5540,TUS,610,607.0,-3.0,17.0,624.0,...,06:10,06:07,06:24,09:24,09:36,09:31,Sunday,0,TUS_IAH,origin
4947,"HOUSTON, TEXAS, USA",2017-01-01,OO,5540,IAH,610,607.0,-3.0,17.0,624.0,...,06:10,06:07,06:24,09:24,09:36,09:31,Sunday,0,TUS_IAH,dest
10624,"TUCSON, ARIZONA, USA",2017-01-01,AA,1499,TUS,640,636.0,-4.0,9.0,645.0,...,06:40,06:36,06:45,10:33,11:06,10:41,Sunday,0,TUS_ORD,origin
10624,"CHICAGO, ILLINOIS, USA",2017-01-01,AA,1499,ORD,640,636.0,-4.0,9.0,645.0,...,06:40,06:36,06:45,10:33,11:06,10:41,Sunday,0,TUS_ORD,dest
2765,"TUCSON, ARIZONA, USA",2017-01-01,AA,302,TUS,605,641.0,36.0,13.0,654.0,...,06:05,06:41,06:54,09:36,09:16,09:47,Sunday,1,TUS_DFW,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,"SAN FRANCISCO, CALIFORNIA, USA",2017-12-31,OO,5399,SFO,1745,1742.0,-3.0,12.0,1754.0,...,17:45,17:42,17:54,18:57,19:14,19:03,Sunday,0,TUS_SFO,dest
4936,"TUCSON, ARIZONA, USA",2017-12-31,AA,1583,TUS,1620,1844.0,144.0,8.0,1852.0,...,16:20,18:44,18:52,21:29,19:33,21:35,Sunday,1,TUS_DFW,origin
4936,"DALLAS/FT.WORTH, TEXAS, USA",2017-12-31,AA,1583,DFW,1620,1844.0,144.0,8.0,1852.0,...,16:20,18:44,18:52,21:29,19:33,21:35,Sunday,1,TUS_DFW,dest
6841,"TUCSON, ARIZONA, USA",2017-12-31,WN,4127,TUS,1930,1931.0,1.0,10.0,1941.0,...,19:30,19:31,19:41,19:35,19:50,19:38,Sunday,0,TUS_LAS,origin
6841,"LAS VEGAS, NEVADA, USA",2017-12-31,WN,4127,LAS,1930,1931.0,1.0,10.0,1941.0,...,19:30,19:31,19:41,19:35,19:50,19:38,Sunday,0,TUS_LAS,dest

In [12]:
spider_map_df.to_csv(r'/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_viz_manipulation/2017_TUS_SpiderMap.csv', index=False)