## 2017 and 2018 Flight Delay Data Wrangling
### by Amber Royster
The purpose of this data wrangling effort was to reorganize single flight records into routes to map them in Tableau. Tableau requires a record (row) for both origin and destination to map a route, as well as an attribute to identify the route. The attributes created and/or changed to achieve the necessary csv structure are as follows:

- origin_dest: to identify the record as origin or destination
- path_id: combined ORIGIN and DEST (airport codes) to create an attribute to identify each route
- origin/dest_city_name --> city_name: as each route has (2) records - (1) for origin, (1) for destination - generalized this attribute to allow clean concatenation
- ORIGIN/DEST --> airport_code: generalized this attribute to allow clean concatenation

In [1]:
# Format CSV to create origin-destination route map; requires (2) records/rows per route - (1) for origin, (1) for destination

import pandas as pd

spider_df = pd.read_csv("/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_clean/2017_TUS.csv")
spider_df

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,TUS,ATL,1430,1459.0,29.0,...,0.0,14.0,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,TUS,ATL,600,637.0,37.0,...,0.0,0.0,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,TUS,ATL,1430,1447.0,17.0,...,NaN,NaN,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,TUS,ATL,600,559.0,-1.0,...,NaN,NaN,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,TUS,ATL,1430,1441.0,11.0,...,NaN,NaN,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,TUS,SLC,1227,1217.0,-10.0,...,NaN,NaN,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0
15402,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,TUS,SLC,810,807.0,-3.0,...,NaN,NaN,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0
15403,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,TUS,SLC,1227,1307.0,40.0,...,0.0,21.0,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0
15404,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,TUS,SLC,810,759.0,-11.0,...,NaN,NaN,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0
15405,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,TUS,SLC,1227,1218.0,-9.0,...,NaN,NaN,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0

In [2]:
# create path_id field to id the route
spider_df['path_id'] = spider_df['ORIGIN'] + '_' + spider_df['DEST']
spider_df

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,TUS,ATL,1430,1459.0,29.0,...,14.0,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,TUS,ATL,600,637.0,37.0,...,0.0,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,TUS,ATL,1430,1447.0,17.0,...,NaN,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,TUS,ATL,600,559.0,-1.0,...,NaN,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,TUS,ATL,1430,1441.0,11.0,...,NaN,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,TUS,SLC,1227,1217.0,-10.0,...,NaN,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC
15402,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,TUS,SLC,810,807.0,-3.0,...,NaN,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC
15403,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,TUS,SLC,1227,1307.0,40.0,...,21.0,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC
15404,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,TUS,SLC,810,759.0,-11.0,...,NaN,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC
15405,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,TUS,SLC,1227,1218.0,-9.0,...,NaN,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC

In [8]:
# Build origin df

origin_df = spider_df[['origin_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id origin airport
origin_df['origin_dest'] = 'origin'

# rename key origin columns to be generalized between origin and desintation
origin_df.rename(columns={"origin_city_name":"city_name", "ORIGIN":"airport_code"}, inplace=True)
origin_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"TUCSON, ARIZONA, USA",2017-01-01,DL,2066,TUS,1430,1459.0,29.0,10.0,1509.0,...,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL,origin
1,"TUCSON, ARIZONA, USA",2017-01-02,DL,1127,TUS,600,637.0,37.0,10.0,647.0,...,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL,origin
2,"TUCSON, ARIZONA, USA",2017-01-02,DL,2066,TUS,1430,1447.0,17.0,10.0,1457.0,...,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL,origin
3,"TUCSON, ARIZONA, USA",2017-01-03,DL,1127,TUS,600,559.0,-1.0,29.0,628.0,...,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL,origin
4,"TUCSON, ARIZONA, USA",2017-01-03,DL,2066,TUS,1430,1441.0,11.0,11.0,1452.0,...,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"TUCSON, ARIZONA, USA",2017-12-29,OO,4567,TUS,1227,1217.0,-10.0,16.0,1233.0,...,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC,origin
15402,"TUCSON, ARIZONA, USA",2017-12-30,OO,4539,TUS,810,807.0,-3.0,14.0,821.0,...,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC,origin
15403,"TUCSON, ARIZONA, USA",2017-12-30,OO,4567,TUS,1227,1307.0,40.0,18.0,1325.0,...,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC,origin
15404,"TUCSON, ARIZONA, USA",2017-12-31,OO,4539,TUS,810,759.0,-11.0,16.0,815.0,...,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC,origin
15405,"TUCSON, ARIZONA, USA",2017-12-31,OO,4567,TUS,1227,1218.0,-9.0,12.0,1230.0,...,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC,origin

In [9]:
# Build destination df

destination_df = spider_df[['dest_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id destination airport
destination_df['origin_dest'] = 'dest'

# rename key destination columns to be generalized between origin and desintation
destination_df.rename(columns={"dest_city_name":"city_name", "DEST":"airport_code"}, inplace=True)
destination_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"ATLANTA, GEORGIA, USA",2017-01-01,DL,2066,ATL,1430,1459.0,29.0,10.0,1509.0,...,14:30,14:59,15:09,20:11,20:03,20:28,Sunday,0,TUS_ATL,dest
1,"ATLANTA, GEORGIA, USA",2017-01-02,DL,1127,ATL,600,637.0,37.0,10.0,647.0,...,06:00,06:37,06:47,11:57,11:29,12:03,Monday,1,TUS_ATL,dest
2,"ATLANTA, GEORGIA, USA",2017-01-02,DL,2066,ATL,1430,1447.0,17.0,10.0,1457.0,...,14:30,14:47,14:57,19:43,20:05,19:52,Monday,0,TUS_ATL,dest
3,"ATLANTA, GEORGIA, USA",2017-01-03,DL,1127,ATL,600,559.0,-1.0,29.0,628.0,...,06:00,05:59,06:28,11:16,11:29,11:21,Tuesday,0,TUS_ATL,dest
4,"ATLANTA, GEORGIA, USA",2017-01-03,DL,2066,ATL,1430,1441.0,11.0,11.0,1452.0,...,14:30,14:41,14:52,19:39,20:05,19:48,Tuesday,0,TUS_ATL,dest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15401,"SALT LAKE CITY, UTAH, USA",2017-12-29,OO,4567,SLC,1227,1217.0,-10.0,16.0,1233.0,...,12:27,12:17,12:33,14:01,14:29,14:07,Friday,0,TUS_SLC,dest
15402,"SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4539,SLC,810,807.0,-3.0,14.0,821.0,...,08:10,08:07,08:21,09:54,10:18,10:04,Saturday,0,TUS_SLC,dest
15403,"SALT LAKE CITY, UTAH, USA",2017-12-30,OO,4567,SLC,1227,1307.0,40.0,18.0,1325.0,...,12:27,13:07,13:25,14:46,14:29,14:50,Saturday,0,TUS_SLC,dest
15404,"SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4539,SLC,810,759.0,-11.0,16.0,815.0,...,08:10,07:59,08:15,09:42,10:18,09:48,Sunday,0,TUS_SLC,dest
15405,"SALT LAKE CITY, UTAH, USA",2017-12-31,OO,4567,SLC,1227,1218.0,-9.0,12.0,1230.0,...,12:27,12:18,12:30,13:54,14:29,14:01,Sunday,0,TUS_SLC,dest

In [10]:
# Combine origin and destination dfs, sort by multiple values to match origin-destination records

frames = [origin_df, destination_df]

spider_map_df = pd.concat(frames, sort=False)
spider_map_df.sort_values(["FL_DATE", "DEP_TIME", "ARR_TIME_HM"], ascending=[True, True, True], inplace=True)
spider_map_df

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
4947,"TUCSON, ARIZONA, USA",2017-01-01,OO,5540,TUS,610,607.0,-3.0,17.0,624.0,...,06:10,06:07,06:24,09:24,09:36,09:31,Sunday,0,TUS_IAH,origin
4947,"HOUSTON, TEXAS, USA",2017-01-01,OO,5540,IAH,610,607.0,-3.0,17.0,624.0,...,06:10,06:07,06:24,09:24,09:36,09:31,Sunday,0,TUS_IAH,dest
10624,"TUCSON, ARIZONA, USA",2017-01-01,AA,1499,TUS,640,636.0,-4.0,9.0,645.0,...,06:40,06:36,06:45,10:33,11:06,10:41,Sunday,0,TUS_ORD,origin
10624,"CHICAGO, ILLINOIS, USA",2017-01-01,AA,1499,ORD,640,636.0,-4.0,9.0,645.0,...,06:40,06:36,06:45,10:33,11:06,10:41,Sunday,0,TUS_ORD,dest
2765,"TUCSON, ARIZONA, USA",2017-01-01,AA,302,TUS,605,641.0,36.0,13.0,654.0,...,06:05,06:41,06:54,09:36,09:16,09:47,Sunday,1,TUS_DFW,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,"SAN FRANCISCO, CALIFORNIA, USA",2017-12-31,OO,5399,SFO,1745,1742.0,-3.0,12.0,1754.0,...,17:45,17:42,17:54,18:57,19:14,19:03,Sunday,0,TUS_SFO,dest
4936,"TUCSON, ARIZONA, USA",2017-12-31,AA,1583,TUS,1620,1844.0,144.0,8.0,1852.0,...,16:20,18:44,18:52,21:29,19:33,21:35,Sunday,1,TUS_DFW,origin
4936,"DALLAS/FT.WORTH, TEXAS, USA",2017-12-31,AA,1583,DFW,1620,1844.0,144.0,8.0,1852.0,...,16:20,18:44,18:52,21:29,19:33,21:35,Sunday,1,TUS_DFW,dest
6841,"TUCSON, ARIZONA, USA",2017-12-31,WN,4127,TUS,1930,1931.0,1.0,10.0,1941.0,...,19:30,19:31,19:41,19:35,19:50,19:38,Sunday,0,TUS_LAS,origin
6841,"LAS VEGAS, NEVADA, USA",2017-12-31,WN,4127,LAS,1930,1931.0,1.0,10.0,1941.0,...,19:30,19:31,19:41,19:35,19:50,19:38,Sunday,0,TUS_LAS,dest

In [12]:
spider_map_df.to_csv(r'/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_viz_manipulation/2017_TUS_SpiderMap.csv', index=False)

In [13]:
import pandas as pd

spider_df_2018 = pd.read_csv("/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_clean/2018_TUS.csv")
spider_df_2018

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-01,DL,1240,TUS,ATL,1453,1600.0,67.0,...,0.0,55.0,14:53,16:00,16:27,21:18,20:29,21:24,Monday,1
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-01,DL,1345,TUS,ATL,710,705.0,-5.0,...,NaN,NaN,07:10,07:05,07:15,12:10,12:39,12:14,Monday,0
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-02,DL,1240,TUS,ATL,1453,1446.0,-7.0,...,NaN,NaN,14:53,14:46,15:03,19:54,20:29,20:04,Tuesday,0
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-02,DL,1345,TUS,ATL,710,703.0,-7.0,...,NaN,NaN,07:10,07:03,07:14,12:04,12:39,12:09,Tuesday,0
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-03,DL,1240,TUS,ATL,1340,1335.0,-5.0,...,NaN,NaN,13:40,13:35,13:47,18:42,19:13,18:52,Wednesday,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18218,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,3942,TUS,SLC,1729,1735.0,6.0,...,NaN,NaN,17:29,17:35,17:48,19:25,19:34,19:30,Sunday,0
18219,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4539,TUS,SLC,805,753.0,-12.0,...,NaN,NaN,08:05,07:53,08:20,09:57,10:12,10:10,Sunday,0
18220,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4567,TUS,SLC,1217,1211.0,-6.0,...,NaN,NaN,12:17,12:11,12:23,13:59,14:20,14:03,Sunday,0
18221,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4539,TUS,SLC,810,801.0,-9.0,...,NaN,NaN,08:10,08:01,08:21,09:46,10:15,09:53,Monday,0
18222,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4567,TUS,SLC,1215,1207.0,-8.0,...,NaN,NaN,12:15,12:07,12:18,13:40,14:16,13:45,Monday,0

In [16]:
# create path_id field to id the route
spider_df_2018['path_id'] = spider_df_2018['ORIGIN'] + '_' + spider_df_2018['DEST']
spider_df_2018

,origin_city_name,dest_city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,LATE_AIRCRAFT_DELAY,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id
0,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-01,DL,1240,TUS,ATL,1453,1600.0,67.0,...,55.0,14:53,16:00,16:27,21:18,20:29,21:24,Monday,1,TUS_ATL
1,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-01,DL,1345,TUS,ATL,710,705.0,-5.0,...,NaN,07:10,07:05,07:15,12:10,12:39,12:14,Monday,0,TUS_ATL
2,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-02,DL,1240,TUS,ATL,1453,1446.0,-7.0,...,NaN,14:53,14:46,15:03,19:54,20:29,20:04,Tuesday,0,TUS_ATL
3,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-02,DL,1345,TUS,ATL,710,703.0,-7.0,...,NaN,07:10,07:03,07:14,12:04,12:39,12:09,Tuesday,0,TUS_ATL
4,"TUCSON, ARIZONA, USA","ATLANTA, GEORGIA, USA",2018-01-03,DL,1240,TUS,ATL,1340,1335.0,-5.0,...,NaN,13:40,13:35,13:47,18:42,19:13,18:52,Wednesday,0,TUS_ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18218,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,3942,TUS,SLC,1729,1735.0,6.0,...,NaN,17:29,17:35,17:48,19:25,19:34,19:30,Sunday,0,TUS_SLC
18219,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4539,TUS,SLC,805,753.0,-12.0,...,NaN,08:05,07:53,08:20,09:57,10:12,10:10,Sunday,0,TUS_SLC
18220,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4567,TUS,SLC,1217,1211.0,-6.0,...,NaN,12:17,12:11,12:23,13:59,14:20,14:03,Sunday,0,TUS_SLC
18221,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4539,TUS,SLC,810,801.0,-9.0,...,NaN,08:10,08:01,08:21,09:46,10:15,09:53,Monday,0,TUS_SLC
18222,"TUCSON, ARIZONA, USA","SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4567,TUS,SLC,1215,1207.0,-8.0,...,NaN,12:15,12:07,12:18,13:40,14:16,13:45,Monday,0,TUS_SLC

In [17]:
# Build origin df

origin_df_2018 = spider_df_2018[['origin_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id origin airport
origin_df_2018['origin_dest'] = 'origin'

# rename key origin columns to be generalized between origin and desintation
origin_df_2018.rename(columns={"origin_city_name":"city_name", "ORIGIN":"airport_code"}, inplace=True)
origin_df_2018

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"TUCSON, ARIZONA, USA",2018-01-01,DL,1240,TUS,1453,1600.0,67.0,27.0,1627.0,...,14:53,16:00,16:27,21:18,20:29,21:24,Monday,1,TUS_ATL,origin
1,"TUCSON, ARIZONA, USA",2018-01-01,DL,1345,TUS,710,705.0,-5.0,10.0,715.0,...,07:10,07:05,07:15,12:10,12:39,12:14,Monday,0,TUS_ATL,origin
2,"TUCSON, ARIZONA, USA",2018-01-02,DL,1240,TUS,1453,1446.0,-7.0,17.0,1503.0,...,14:53,14:46,15:03,19:54,20:29,20:04,Tuesday,0,TUS_ATL,origin
3,"TUCSON, ARIZONA, USA",2018-01-02,DL,1345,TUS,710,703.0,-7.0,11.0,714.0,...,07:10,07:03,07:14,12:04,12:39,12:09,Tuesday,0,TUS_ATL,origin
4,"TUCSON, ARIZONA, USA",2018-01-03,DL,1240,TUS,1340,1335.0,-5.0,12.0,1347.0,...,13:40,13:35,13:47,18:42,19:13,18:52,Wednesday,0,TUS_ATL,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18218,"TUCSON, ARIZONA, USA",2018-12-30,OO,3942,TUS,1729,1735.0,6.0,13.0,1748.0,...,17:29,17:35,17:48,19:25,19:34,19:30,Sunday,0,TUS_SLC,origin
18219,"TUCSON, ARIZONA, USA",2018-12-30,OO,4539,TUS,805,753.0,-12.0,27.0,820.0,...,08:05,07:53,08:20,09:57,10:12,10:10,Sunday,0,TUS_SLC,origin
18220,"TUCSON, ARIZONA, USA",2018-12-30,OO,4567,TUS,1217,1211.0,-6.0,12.0,1223.0,...,12:17,12:11,12:23,13:59,14:20,14:03,Sunday,0,TUS_SLC,origin
18221,"TUCSON, ARIZONA, USA",2018-12-31,OO,4539,TUS,810,801.0,-9.0,20.0,821.0,...,08:10,08:01,08:21,09:46,10:15,09:53,Monday,0,TUS_SLC,origin
18222,"TUCSON, ARIZONA, USA",2018-12-31,OO,4567,TUS,1215,1207.0,-8.0,11.0,1218.0,...,12:15,12:07,12:18,13:40,14:16,13:45,Monday,0,TUS_SLC,origin

In [18]:
# Build destination df

destination_df_2018 = spider_df_2018[['dest_city_name', 'FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'CRS_DEP_HM', 'DEP_TIME_HM', 'WHEELS_OFF_HM', 'WHEELS_ON_HM', 'CRS_ARR_TIME_HM', 'ARR_TIME_HM', 'day_of_week', 'DELAY', 'path_id']].copy()

# create new column to id destination airport
destination_df_2018['origin_dest'] = 'dest'

# rename key destination columns to be generalized between origin and desintation
destination_df_2018.rename(columns={"dest_city_name":"city_name", "DEST":"airport_code"}, inplace=True)
destination_df_2018

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
0,"ATLANTA, GEORGIA, USA",2018-01-01,DL,1240,ATL,1453,1600.0,67.0,27.0,1627.0,...,14:53,16:00,16:27,21:18,20:29,21:24,Monday,1,TUS_ATL,dest
1,"ATLANTA, GEORGIA, USA",2018-01-01,DL,1345,ATL,710,705.0,-5.0,10.0,715.0,...,07:10,07:05,07:15,12:10,12:39,12:14,Monday,0,TUS_ATL,dest
2,"ATLANTA, GEORGIA, USA",2018-01-02,DL,1240,ATL,1453,1446.0,-7.0,17.0,1503.0,...,14:53,14:46,15:03,19:54,20:29,20:04,Tuesday,0,TUS_ATL,dest
3,"ATLANTA, GEORGIA, USA",2018-01-02,DL,1345,ATL,710,703.0,-7.0,11.0,714.0,...,07:10,07:03,07:14,12:04,12:39,12:09,Tuesday,0,TUS_ATL,dest
4,"ATLANTA, GEORGIA, USA",2018-01-03,DL,1240,ATL,1340,1335.0,-5.0,12.0,1347.0,...,13:40,13:35,13:47,18:42,19:13,18:52,Wednesday,0,TUS_ATL,dest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18218,"SALT LAKE CITY, UTAH, USA",2018-12-30,OO,3942,SLC,1729,1735.0,6.0,13.0,1748.0,...,17:29,17:35,17:48,19:25,19:34,19:30,Sunday,0,TUS_SLC,dest
18219,"SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4539,SLC,805,753.0,-12.0,27.0,820.0,...,08:05,07:53,08:20,09:57,10:12,10:10,Sunday,0,TUS_SLC,dest
18220,"SALT LAKE CITY, UTAH, USA",2018-12-30,OO,4567,SLC,1217,1211.0,-6.0,12.0,1223.0,...,12:17,12:11,12:23,13:59,14:20,14:03,Sunday,0,TUS_SLC,dest
18221,"SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4539,SLC,810,801.0,-9.0,20.0,821.0,...,08:10,08:01,08:21,09:46,10:15,09:53,Monday,0,TUS_SLC,dest
18222,"SALT LAKE CITY, UTAH, USA",2018-12-31,OO,4567,SLC,1215,1207.0,-8.0,11.0,1218.0,...,12:15,12:07,12:18,13:40,14:16,13:45,Monday,0,TUS_SLC,dest

In [19]:
frames_2018 = [origin_df_2018, destination_df_2018]

spider_map_df_2018 = pd.concat(frames_2018, sort=False)
spider_map_df_2018.sort_values(["FL_DATE", "DEP_TIME", "ARR_TIME_HM"], ascending=[True, True, True], inplace=True)
spider_map_df_2018

,city_name,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,airport_code,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_DEP_HM,DEP_TIME_HM,WHEELS_OFF_HM,WHEELS_ON_HM,CRS_ARR_TIME_HM,ARR_TIME_HM,day_of_week,DELAY,path_id,origin_dest
7713,"TUCSON, ARIZONA, USA",2018-01-01,OO,5489,TUS,540,538.0,-2.0,11.0,549.0,...,05:40,05:38,05:49,06:09,06:31,06:58,Monday,0,TUS_LAX,origin
7713,"LOS ANGELES, CALIFORNIA, USA",2018-01-01,OO,5489,LAX,540,538.0,-2.0,11.0,549.0,...,05:40,05:38,05:49,06:09,06:31,06:58,Monday,0,TUS_LAX,dest
6519,"TUCSON, ARIZONA, USA",2018-01-01,WN,1931,TUS,540,539.0,-1.0,8.0,547.0,...,05:40,05:39,05:47,05:45,06:00,05:48,Monday,0,TUS_LAS,origin
6519,"LAS VEGAS, NEVADA, USA",2018-01-01,WN,1931,LAS,540,539.0,-1.0,8.0,547.0,...,05:40,05:39,05:47,05:45,06:00,05:48,Monday,0,TUS_LAS,dest
7715,"TUCSON, ARIZONA, USA",2018-01-01,WN,1170,TUS,600,600.0,0.0,23.0,623.0,...,06:00,06:00,06:23,06:36,06:40,06:47,Monday,0,TUS_LAX,origin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14789,"PHOENIX, ARIZONA, USA",2018-12-31,YV,5887,PHX,1920,1916.0,-4.0,42.0,1958.0,...,19:20,19:16,19:58,20:38,20:23,20:44,Monday,0,TUS_PHX,dest
16906,"TUCSON, ARIZONA, USA",2018-12-31,OO,5785,TUS,1825,2007.0,102.0,11.0,2018.0,...,18:25,20:07,20:18,21:11,19:59,21:18,Monday,1,TUS_SFO,origin
16906,"SAN FRANCISCO, CALIFORNIA, USA",2018-12-31,OO,5785,SFO,1825,2007.0,102.0,11.0,2018.0,...,18:25,20:07,20:18,21:11,19:59,21:18,Monday,1,TUS_SFO,dest
6515,"TUCSON, ARIZONA, USA",2018-12-31,YV,6241,TUS,530,NaN,NaN,NaN,NaN,...,05:30,NaN,NaN,NaN,08:55,NaN,Monday,1,TUS_IAH,origin
6515,"HOUSTON, TEXAS, USA",2018-12-31,YV,6241,IAH,530,NaN,NaN,NaN,NaN,...,05:30,NaN,NaN,NaN,08:55,NaN,Monday,1,TUS_IAH,dest

In [ ]:
spider_map_df_2018.to_csv(r'/Users/amber/Desktop/GitHub/flight_delay_prediction/data_manipulation_modeling/data_viz_manipulation/2018_TUS_SpiderMap.csv', index=False)